<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>  <ion-icon ios="ios-pin-outline" md="ios-pin-outline" style="color: #00a083;"></ion-icon>   {{location.address}}</ion-title>
  </ion-navbar>
  <ion-searchbar
  [(ngModel)]="searchText"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)"
  placeholder="Buscar en {{display_name}}"
  #myInput>
</ion-searchbar>

</ion-header>


<ion-content padding>
  <h1 *ngIf="searchText.length > 0">Resultados para "{{searchText}}"</h1>
  <ion-grid *ngIf="searchText.length > 0">
      <p *ngIf="resultShopsOpen.length == 0 && resultShopsClose.length == 0">Lo sentmos no encontramos resultado para tu busqueda :(</p>
      <ion-row>
          <ion-col *ngFor="let shop of resultShopsOpen" (click)="pushCommerce(shop.commerceId, shop.isOpen, shop.name)" col-12>
                <div  class="imgC" [style.background]="getBackground(shop.bannerUrl)">
                    <span class="price">$ {{shop.delivery_price.toFixed(2)}}</span>
                    <h2 class="commerce_name">{{shop.name}}</h2>
                    <p class="commerce_description">{{shop.description}}</p>
                </div>
          </ion-col> 
          <ion-col *ngFor="let shop of resultShopsClose" (click)="pushCommerce(shop.commerceId, shop.isOpen, shop.name)" col-12>
              <div  class="imgC" [style.background]="getClosedBackground(shop.bannerUrl)">
                  <span class="closed">CERRADO</span>
                  <h2 class="commerce_name">{{shop.name}}</h2>
                  <p class="commerce_description">{{shop.description}}</p>
              </div>
        </ion-col> 
      </ion-row>
  </ion-grid>

  <h1>{{display_name}}</h1>
  <ion-grid>
      <ion-row>
        <ion-col *ngFor="let shop of openShops" (click)="pushCommerce(shop.commerceId, shop.isOpen, shop.name)" col-12>
              <div  class="imgC" [style.background]="getBackground(shop.bannerUrl)">
                  <span class="price">$ {{shop.delivery_price.toFixed(2)}}</span>
                  <h2 class="commerce_name">{{shop.name}}</h2>
                  <p class="commerce_description">{{shop.description}}</p>
              </div>
        </ion-col> 
        <ion-col *ngFor="let shop of closeShops" (click)="pushCommerce(shop.commerceId)" col-12>
            <div  class="imgC" [style.background]="getClosedBackground(shop.bannerUrl)">
                <span class="closed">CERRADO</span>
                <h2 class="commerce_name">{{shop.name}}</h2>
                <p class="commerce_description">{{shop.description}}</p>
            </div>
      </ion-col> 
      </ion-row>
  </ion-grid>
</ion-content>
