<!--
  Generated template for the TrakingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  class="home-nav">
    
    <ion-title>Seguimiento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="timeline">
    <ul>
      <li *ngIf="order.status == 'pending'">
        <div class="bullet orange"></div>
        <div class="desc" >
          <h3 >Esperando aprobación de {{order.shopName}}</h3>
        </div>
      </li>
      <li *ngIf="order.status == 'accepted' ||  order.status == 'assigned' || order.status == 'inShop' || order.status == 'arrived' || order.status == 'recived'  ||  order.status == 'rated'" >
        <div class="bullet green"></div>
        <div class="desc" >
          <h3 >{{order.shopName}} aprobó tu pedido</h3>
        </div>
      </li>
      <li *ngIf="order.status != 'accepted' && order.status != 'assigned' && order.status != 'inShop' && order.status != 'arrived' && order.status != 'recived' && order.status != 'rated'">
        <div class="bullet orange"></div>
        <div class="desc" >
          <h3 class="will">Te asignaremos un bliper</h3>
        </div>
      </li>
      <li *ngIf="order.status == 'accepted'">
        <div class="bullet orange"></div>
        <div class="desc" >
          <h3>Asignandote un Bliper</h3>
        </div>
      </li>
      <li *ngIf="order.status == 'assigned' || order.status == 'inShop' || order.status == 'arrived' || order.status == 'recived' ||  order.status == 'rated'" >
        <div class="bullet green"></div>
        <div class="desc" >
          <h3>Tu bliper es {{bliperName}}</h3>
        </div>
      </li>
      <li *ngIf="order.status != 'assigned'  && order.status != 'inShop' && order.status != 'arrived' && order.status != 'recived' && order.status != 'rated'">
        <div class="bullet orange"></div>
        <div class="desc" >
          <h3 class="will">Tu bliper ira a la tienda</h3>
        </div>
      </li>
      <li *ngIf="order.status == 'assigned'">
        <div class="bullet orange"></div>
        <div class="desc" >
          <h3>Tu bliper va a la tienda</h3>
        </div>
      </li>
      <li *ngIf="order.status == 'inShop' || order.status == 'arrived' || order.status == 'recived' ||  order.status == 'rated'">
        <div class="bullet green"></div>
        <div class="desc" >
          <h3>Tu bliper llego a la tienda</h3>
        </div>
        
      </li>
      
      <li *ngIf="order.status != 'inShop' && order.status != 'arrived' && order.status != 'recived' && order.status != 'rated'">
        <div class="bullet orange"></div>
        <div class="desc" >
          <h3 class="will">Tu bliper irá a la dirección de entrega</h3>
        </div>
      </li>
      <li *ngIf="order.status == 'inShop'">
        <div class="bullet orange"></div>
        <div class="desc" >
          <h3>Tu bliper va a la dirección de entrega</h3>
        </div>
      </li>
      <li *ngIf="order.status == 'arrived' || order.status == 'recived' ||  order.status == 'rated'">
        <div class="bullet green"></div>
        <div class="desc" >
          <h3>Tu bliper ya esta afuera</h3>
        </div>
      </li>
      <li *ngIf="order.status != 'recived' && order.status != 'rated'">
        <div class="bullet orange"></div>
        <div class="desc" >
          <h3 class="will">Se entregará</h3>
        </div>
      </li>
      <li *ngIf="order.status == 'recived' ||  order.status == 'rated'">
        <div class="bullet green"></div>
        <div class="desc" >
          <h3>Califica a tu bliper</h3>
        </div>
      </li>
    </ul>
  </div>  
  <div class="rateC" *ngIf="order.status == 'recived' ||  order.status == 'rated'">
    <rating [(ngModel)]="rate" 
    (ngModelChange)="onModelChange($event)"> 
      </rating>
  </div>
  
  <div id="map" style="height:30%;">
    
  </div>      
  

</ion-content>
