page-home {
    ion-header{
        z-index: inherit;  // desapear the header shadown
        font-family: 'Proxima Nova' !important;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none;
    }
    .searchbar-md .searchbar-input{
        background-color: #F6F6F6 !important;
        box-shadow: none !important;
        border-radius: 0.3em;
    }
    .toolbar-background-md {
        background-color: #ffffff !important;
        }
    .circle {
        border-radius: 50%;
        width: 6em;
        height: 6em;
        border-radius: 6em;
        display: inline-block;    
    }
    .image {
        width: 70%;
        height: 70%;
        position:initial;
        margin:auto;
        bottom:0;
        right: 0;
        margin-top: 1em;
    }
    ion-col{
        text-align: center;
      }
    h2,h1{
        font-family: 'proxima_nova_altbold' !important;
    }
    p, input{
        font-family: 'Proxima Nova' !important;
    }
    .custom-div{
        background-color: rgba(168, 182, 244, 1);
        width: 100%;
        height: 8em;
        border-radius: 0.5em;
    }
    .wand{
        height: 6em;
        margin-top: 1em;
        left: 1em;
        position: absolute;
        color: #FFFFFF;
    }
    .customT{
        color: #FFFFFF;
        right: 1em;
        position: absolute;
    }
    .paragraph{
        margin-top: 4em;
        max-width: 50%
    }
    .categoryC{
        width: 100%;
        height: 100%;
        border-radius: 0.4em;
        padding: 0px !important;
        -webkit-box-shadow:  0px 6px 10px 0px  #ccc !important;
        box-shadow: 0px 6px 10px 0px #ccc !important;
        margin: 0;
        position: absolute;

    }
    .categoryT{
        font-family: 'Trueno' !important;
        color: #FFFFFF;
        font-size: 1.3em;
        margin: 0px;
    }
    .containerCa{
        position: relative;
        width: 100%;
        padding: 0px;
    }
    .containerCa:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      .header-ios .toolbar-background-ios, .header-md .toolbar-background-md{
          border-style: none;
          border-color: #FFFFFF;
      }
      .toolbar-background-ios, .toolbar-background-md{
          background-color: #FFFFFF;
      }
      .bar-button-default-ios, .bar-button-default-md{
          color:  $green2;
      }
      .toolbar-title-ios, .toolbar-title-md{
          color: $green2;
      }
      .motivationT{
          text-align: center;
          font-size: 1.2em;
          opacity: 0.5;
          display: inline-block;
          vertical-align: sub !important;
      }
      #emoji{
          display: inline-block;
          width: 1.2em;
          vertical-align: sub !important;
      }
      .shareC{
        background: no-repeat url('../assets/img/referralcode.png') 50% / 100%;
        border-radius: 0.4em;
        -webkit-box-shadow:  0px 6px 10px 0px  #ccc !important;
        box-shadow: 0px 6px 10px 0px #ccc !important;
      }
      .shareC img{
        vertical-align: top;
        width: 100%; /* max width */
        opacity: 0;  /* make it transparent */
        height: 0px !important;
        display: table;

    }
    .shareT{
        margin: 0px;
        color: #8486A7;
    }
    .shareV{
        margin: 0px;
        font-family: 'proxima_nova_altbold' !important;
        color: #8486A7;

    }
    .shereB p{
        background-color: #FFFFFF;
        //margin: 0px 0.5em;
        padding: 0.4em;
        border-radius: 0.3em; 
        color: #8B91CE;
    }
    .back-button.show-back-button {
        z-index: 9999;
        display: inline-block;
        }

        .toolbar {
            &.toolbar-md { //material design only
                &.home-nav {
                    position: relative;
                    .title-md { //material design only
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
        ion-header ion-icon.back-button-icon.icon {
            color: #21c48a
        }
        .toolbar-title-md{
            color: #21c48a !important 
        }
}
