page-home {
    ion-header{
        z-index: inherit;  // desapear the header shadown
        text-align: center;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none;
    }
    .searchbar-md .searchbar-input{
        background-color: #F6F6F6 !important;
        box-shadow: none !important;
    }
    .toolbar-background-md {
        background-color: #ffffff !important;
        }
    .circle {
        border-radius: 50%;
        width: 6em;
        height: 6em;
        border-radius: 6em;
        display: inline-block;    
    }
    .image {
        width: 70%;
        height: 70%;
        position:initial;
        margin:auto;
        bottom:0;
        right: 0;
        margin-top: 1em;
    }
    ion-col{
        text-align: center;
      }
    h2,h1{
        font-family: 'Trueno' !important;
    }
    p, input{
        font-family: 'Nexa' !important;
    }
    .custom-div{
        background-color: rgba(168, 182, 244, 1);
        width: 100%;
        height: 8em;
        border-radius: 0.5em;
    }
    .wand{
        height: 6em;
        margin-top: 1em;
        left: 1em;
        position: absolute;
        color: #FFFFFF;
    }
    .customT{
        color: #FFFFFF;
        right: 1em;
        position: absolute;
    }
    .paragraph{
        margin-top: 4em;
        max-width: 50%
    }
    .categoryC{
        width: 100%;
        height: 100%;
        border-radius: 0.4em;
        padding: 0px !important;

        margin: 0;
        position: absolute;

    }
    .categoryT{
        font-family: 'Trueno' !important;
        color: #FFFFFF;
        font-size: 1.3em;
        margin: 0px;
    }
    .containerCa{
        position: relative;
        width: 100%;
        padding: 0px;
    }
    .containerCa:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      .header-ios .toolbar-background-ios{
          border-style: none;
          border-color: #FFFFFF;
      }
      .toolbar-background-ios{
          background-color: #FFFFFF;
      }
      .bar-button-default-ios{
          color:  $green2;
      }
      .toolbar-title-ios{
          color: $green2;
      }
}
