<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
<ion-header id="main-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="text" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"
      placeholder="Buscar Productos"></ion-searchbar>
  </ion-navbar>
</ion-header>
-->

<ion-header id="header" [ngStyle]="{'background-image': 'url(' + shop.bannerUrl + ')'}">
  <ion-navbar >
    <ion-title>{{shop.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content #contentRef>
<!--
  <div class="page-header" id="page-header">
    <div class="header-bg" id="header-bg" [ngStyle]="{'background-image': 'url(' + shop.bannerUrl + ')'}"></div>
    <div class="ph-card-box">
      <ion-card>
        <ion-card-content>
          <ion-card-title>{{shop.name}}</ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="price-box">
                  <p class="price deliveryPrice">
                    <ion-icon ios="ios-bicycle" md="md-bicycle"></ion-icon>
                    <span>$ {{price.toFixed(2)}}</span>
                  </p>
                </div>
              </ion-col>
              <ion-col col-6>
                <div class="distance-box">
                  <p class="distance">
                    <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
                    <span>{{distance.toFixed(2)}}km</span>
                  </p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
-->
  <ion-list *ngIf="showHolders">
    <ion-item>
      <div class="animated-background holderTitle">
      </div>
    </ion-item>

    <ion-item *ngFor="let holder of holders">
      <ion-thumbnail item-lef>
        <div class="animated-background">
        </div>
      </ion-thumbnail>
    </ion-item>
  </ion-list>


  <ion-row *ngIf="text.length > 0">
    <h3 *ngIf="text.length > 0" class="menuC">Resultados para "{{text}}"</h3>
    <p *ngIf="results.length == 0 && results.length == 0">Lo sentmos no encontramos resultado para tu busqueda :(</p>
    <ion-col col-12>
      <ion-list>
        <ion-item *ngFor="let product of results" class="itemList">
          <ion-thumbnail item-left>
            <img onError="this.src='/assets/img/shopping-bag.svg';" [src]="product.imageUrl" class="productImg">
          </ion-thumbnail>
          <ion-grid>
            <ion-row class="price-container">
              <ion-col col-12 class="title-container">
                <h2 class="title">{{product.product}} </h2>
              </ion-col>
            </ion-row>

          </ion-grid>
          <ion-row class="description-row">
            <ion-col col-12 class="description-container">
              <p class="description">{{product.description}}</p>
              <p class="price">${{product.price.toFixed(2)}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
  
            </ion-col>
            <ion-col col-6>
              <div class="addB">
                <span (click)="addToCart(product.objectID)" *ngIf="!(isInCart(product.objectID))">Agregar</span>
                <span class="countE" *ngIf="isInCart(product.objectID)">{{getCount(product.$key)}}</span>
                <span class="plusE" *ngIf="isInCart(product.objectID)" (click)="addToCart(product.objectID)">+</span>
              </div>
            </ion-col>
          </ion-row>

        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <div style="height:100%">
    <ion-list [virtualScroll]="products" [headerFn]="myHeaderFn" [approxItemHeight]=" '50px'" bufferRatio="2">
      <h3 *virtualHeader="let header" class="menuC">
        {{ header }}
      </h3>

      <ion-item *virtualItem="let product" class="itemList">
        <ion-thumbnail item-left>
          <img onError="this.src='/assets/img/shopping-bag.svg';" [src]="product.imageUrl" class="productImg">

        </ion-thumbnail>
        <ion-grid>
          <ion-row class="price-container">
            <ion-col col-12 class="title-container">
              <h2 class="title">{{product.product}} </h2>
            </ion-col>
          </ion-row>

        </ion-grid>
        <ion-row class="description-row">
          <ion-col col-12 class="description-container">
            <p class="description">{{product.description}}</p>
            <p class="price">${{product.price.toFixed(2)}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>

          </ion-col>
          <ion-col col-6>
            <div class="addB">
              <span (click)="addToCart(product.$key)" *ngIf="!(isInCart(product.$key))">Agregar</span>
              <span class="countE" *ngIf="isInCart(product.$key)">{{getCount(product.$key)}}</span>
              <span class="plusE" *ngIf="isInCart(product.$key)" (click)="addToCart(product.$key)">+</span>
            </div>
          </ion-col>
        </ion-row>

      </ion-item>
    </ion-list>
  </div>

</ion-content>
<ion-footer class="cart" (click)="carT()" *ngIf="!empty">
  <div class="row">
    <div col-3>
      <span class=" countF">{{cart.length}}</span>
    </div>
    <div col-6>
      <span>Ver carrito</span>
    </div>
    <div col-3>
      <span>${{total.toFixed(2)}}</span>
    </div>
    <div>

    </div>
  </div>

</ion-footer>