page-shop {
    ion-header{
        transition:all 0.5s ease 0s;
        background:rgba($main,0);
        &:after{
            content:none !important;
        }
        .toolbar-background{
            background:rgba($main,0) !important;
            border:none !important;
        }
        
        .searchbar-input-container{
            background: #ffffff !important;
            border-radius: 0.3em !important;
            overflow: hidden !important;
            .searchbar-input{
                background: #ffffff !important;
            }
        }
        ion-title{
            padding:5px 0px 10px 5px !important;
        }
    }
    .scroll-content{
        margin-top: 0px !important;
        padding-top: 0px !important;
    }
    .page-header{
        transition:all 0.2s ease 0s;
        
    }
    .header-bg{
        height:250px;
        width:100%;
        background-size:100%;
        background-position:  center center;
    }
    .ph-card-box{
        text-align: center;
        margin-top:-60px;
        position: relative;
        z-index:2;
        height:120px;
        margin-left: 16px;
        margin-right: 16px;
        ion-card{
            border-radius:10px;
        }
        .price-box{
            position:relative;
            &:after{
                content: "";
                border: 1px;
                height: 22px;
                background: #ccc;
                position: absolute;
                right: -7px;
                width: 1px;
                top:0;
            }
        }
    }
    /*h4,h3, h2,h1{
        font-family: 'Trueno' !important;
    }
    p, input{
        font-family: 'Nexa' !important;
    }*/
    ion-header{
        z-index: inherit;  // desapear the header shadown
        text-align: center;
        color: black !important;
    }
    
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none;
    }
    .commerceName{
        text-align: center !important;
    }
    .toolbar-title-md{
        font-family: 'Trueno' !important;
        color: #FFFFFF !important;
    }
    .item-md.item-block .item-inner{
        border-bottom: none;
    }
    .closed{
        background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
        padding: 0px;
        position: absolute;
        display: -webkit-box;
        color: #ffffff;
        padding: 0.5em !important;
    }
    .closeT{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    ion-item {
        width: 92%;
        margin: 4%;
        padding-left: 10px !important;
        margin-bottom: 10px;
        background-color: #fff;
        font-size: 0.9em;
        transition: 0.2s linear;
        background-color: rgba(0, 0, 0, 0) !important;
        text-align: center !important;
        font-family: 'Proxima Nova'
    }
    expandable-header{
        background-size: cover !important;
        -moz-background-size: cover !important;  /* Firefox 3.6 */
        background-position: center !important;  
    }
    .segment-md-primary .segment-button{
        color: #FFFFFF;
        opacity: 1;
    }
    .productImg{
        border-radius: 0.3em;
        width: 100px !important;
        height: 100px !important;
    }
    .price{
        font-weight: bold;
        font-size: 1em;
        text-align: left;
    }
    .description, .title{
    width: 100%;
    white-space:pre-line;
    text-align: left;
    font-size: 0.92em;
    }
    .controls{
    display: -webkit-box;
    color: $green;

    margin-top: 0.9em;
    font-size: 1.5em;
    bottom: 4px;
    position: absolute;

    }
    ion-badge {
    margin: 0px !important;
    }
    .grid{
    padding: 0px !important;
    }
    [col-8], [col-2]{
    padding: 0px !important;
    }
    .col{
        padding: 0px;
    }
    
   
      .numP{
        position: absolute;
        background-color: #4A90E2;
        border-radius: 50%;
        color: #ffffff;
        width: 1em;
        height: 1em;
        text-align: center;
        font-size: 1em;
        padding: 1px;
        display: -webkit-box;
        
      }
    
    
     
       .spinner {
      margin: 100px auto;
      width: 50px;
      height: 40px;
      text-align: center;
      font-size: 10px;
    }
    ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;
    
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    
        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto !important;
        }
    }
    .cart {
        background-color: #21c48a;
        height: 2.5em;
        color: #ffffff;
        text-align: center;
        font-size: 1.5em;
        padding-top: 0.5em;
        border-radius: 0.3em 0.3em 0px 0px;
      }
      .loader{
          margin-top: 1em;
          width: 20%;
          margin-left: 40%;
          margin-right: 40%;

      }
      ion-card-title{
          font-family: 'proxima_nova_altbold' !important;
      }
      .list-ios, .list-md{
          margin: 5px;
      }
      .back-button-text-ios{
          display: none;
      }
      .bar-button-default-ios, .bar-button-default-md{
        color: #ffffff;
      }

      // Animate loader
      @keyframes placeHolderShimmer{
        0%{
            background-position: -468px 0
        }
        100%{
            background-position: 468px 0
        }
    }
    
    .animated-background {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 800px 104px;
        height: 96px;
        position: relative;
    }
    .holderTitle{
        height: 1.8em !important;
        width: 40%;
    }
    .list-ios > .item-block:first-child,
    .list-md > .item-block:first-child{
        border-top: none;
    }
    ion-title{
        color: #FFFFFF;
    }
    
    .title{
        font-size: 1.3em;
        width: 95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .addB{
        background-color: #21c48a;
        color: #ffffff;
        padding: 1em;
        border-radius: 0.4em;
        height: 3.2em;
    }
    .menuC{
        font-family: 'proxima_nova_altbold';
        text-transform: capitalize;
    }
    .countE{
        background-color: #147651;
        padding: 0.6em;
        border-radius: 0.2em;
        width: 40%;
        position: absolute;
        left: 0.4em;
        top: 0.4em;
    }
    .plusE{
        font-size: 1.7em;
        right: 0.8em;
        top: 0.4em;
        position: absolute
    }
    ion-footer{
        font-family: 'Proxima Nova';
    }
    .countF{
        background-color: #147651;
        padding: 0.4em 0.8em;
        border-radius: 0.2em;
        text-align: left
    }
    .deliveryPrice{
        text-align: right;
        margin-right: 2em;
    }
    #header{
        
    }
}
