page-refer {
    ion-header{
        z-index: inherit;  // desapear the header shadown
       // text-align: center;
    }

    ion-title{
        font-family: 'Proxima Nova' !important;
        font-weight: bold;
    }
    .header-md::after{
        background-image: none !important;
    }
    #imgC{
        background-image: url('../assets/img/refbanner.jpg');
        width: 100%;
        height: 33%;
        background-position: center;
        background-size: cover;
        padding: 0.5em;
    }
    .textI{
        color: #FFFFFF;
        font-family: 'proxima_nova_altbold' !important;
        font-size: 2.1em;

    }
    .shareC{
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 2em;
    }
    .shareB{
        border: 2px solid #E3E3E3;
        width: 4em;
        height: 4em;
        border-radius: 2em;
        padding: 0px;
        display: inline-block;
    }
    .iconS{
        width: 2em;
        height: 2em;
        margin-top: 0.8em;

    }
    .termsT{
        font-family: 'Proxima Nova' !important;
        color: #21c48a;
    }
    .earnsC{
        background-color: #E3E3E3;
        text-align: center;
        font-family: 'proxima_nova_altbold' !important;
    }
    .giftI{
        width: 2em;
        display: inline-block;
    }
    .giftT{
        display: inline-block;
    }
    .referralsC{
        padding: 0px 1em;
        font-family: 'Proxima Nova' !important;
    }
    .back-button.show-back-button {
        z-index: 9999;
        display: inline-block;
        }

        .toolbar {
            &.toolbar-md { //material design only
                &.home-nav {
                    position: relative;
                    .title-md { //material design only
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
        ion-header ion-icon.back-button-icon.icon {
            color: #21c48a
        }
        .toolbar-title-md{
            color: #21c48a !important 
        }
}
