// http://ionicframework.com/docs/theming/
$main: #ed5a5f;
$green: #00a083;

    @font-face {
        font-family: 'Trueno';
        src: url('../assets/fonts/trueno/TruenoBd.otf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Nexa';
        src: url('../assets/fonts/nexa/Nexa Light.otf');
        font-weight: normal;
        font-style: normal;
    }
ion-header{
    z-index: initial;  // desapear the header shadown
    text-align: center;
}
.toolbar-background-md{
    background-color: #FFFFFF;
}
.footer-md::before{
    top:initial;
}

