// http://ionicframework.com/docs/theming/
$main: #ed5a5f;
$green: #00a083;
$green2: #24c48b;
$background: #ECECEC;

// Color pallete
$color1: rgba(154, 236, 167, 1);
$color2: rgba(254, 190, 122, 1);
$color3: rgba(168, 182, 244, 1);
$color4: rgba(254, 147, 140, 1);
$color5: rgba(255, 131, 96, 1);

$segment-button-md-border-color-activated: #FFFFFF;
$segment-button-md-text-color-activated: #FFFFFF;

    @font-face {
        font-family: 'Trueno';
        src: url('../assets/fonts/trueno/TruenoBd.otf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Nexa';
        src: url('../assets/fonts/nexa/Nexa Light.otf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Proxima Nova';
        src: url('../assets/fonts/proxima/ProximaNovaA-Regular.otf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'BebasNeue';
        src: url('../assets/fonts/proxima/BebasNeue-Bold.ttf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'proxima_nova_altbold';
        src: url('../assets/fonts/proxima/ProximaNova-Bold.otf');
        font-weight: normal;
        font-style: normal;
    }
    
ion-header{
    z-index: initial;  // desapear the header shadown
    text-align: center;
}
.toolbar-background-md{
    background-color: #FFFFFF;
}
.footer-md::before{
    top:initial;
}
.headerC{
    //margin: 1em 1em;
  }
  .logoH{
    display: inline-block;
    width: 2em;
  }
  .toolbar-background-md{
    background-color: $main;
  }
  .scroll-content {
    overflow-y: auto !important;
 }
 .sidemenuC{
 
    //background-color: $main;
}
.itemSide{
    font-family: 'Trueno';
}
.list-md .item-block .item-inner, {
    border-bottom: none;
    }

    .toast-ios .toast-wrapper,
    .toast-md .toast-wrapper{
        background: rgb(255, 119, 51) !important;
        margin-top: 1em !important;
        border-radius: 0px !important;
    }
    .toast-ios .toast-message,
    .toast-md .toast-message{
        font-size: 2rem !important;
        text-align: center !important;
    }
    .header-ios .toolbar-background-ios,
    .header-md .toolbar-background-md{
        border-style:none;
        border-width: 0px;
    }
    .toolbar-background-ios,
    .toolbar-background-md{
        background-color: #FFFFFF;
    }
    .list-ios .item-block .item-inner,
    .list-md .item-block .item-inner{
        border-bottom: none;
    }
    .list-ios > .item-block:last-child,
    .list-md > .item-block:last-child{
        border-bottom: none;
    }
    .iconMenu{
        color: #9fa2a2;
    }