// http://ionicframework.com/docs/theming/
$main: #ed5a5f;
$green: #00a083;
$background: #ECECEC;

// Color pallete
$color1: rgba(154, 236, 167, 1);
$color2: rgba(254, 190, 122, 1);
$color3: rgba(168, 182, 244, 1);
$color4: rgba(254, 147, 140, 1);
$color5: rgba(255, 131, 96, 1);

$segment-button-md-border-color-activated: #FFFFFF;
$segment-button-md-text-color-activated: #FFFFFF;

    @font-face {
        font-family: 'Trueno';
        src: url('../assets/fonts/trueno/TruenoBd.otf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Nexa';
        src: url('../assets/fonts/nexa/Nexa Light.otf');
        font-weight: normal;
        font-style: normal;
    }
ion-header{
    z-index: initial;  // desapear the header shadown
    text-align: center;
}
.toolbar-background-md{
    background-color: #FFFFFF;
}
.footer-md::before{
    top:initial;
}
.headerC{
    margin: 1em 1em;
  }
  .logoH{
    display: inline-block;
    width: 7em;
  }
  .toolbar-background-md{
    background-color: $main;
  }

