page-checkout {

    ion-header{
        z-index: inherit;  // desapear the header shadown
       // text-align: center;
    }

    ion-title{
        font-family: 'Proxima Nova' !important;
        font-weight: bold;
    }
    ion-content{
        font-family: 'Proxima Nova' !important;
    }
    .regular{
        font-family: 'Proxima Nova' !important;
    }
    .bold{
        font-family:  'proxima_nova_altbold' !important;
    }
    .back-button.show-back-button {
        z-index: 9999;
        display: inline-block;
        }

        .toolbar {
            &.toolbar-md { //material design only
                &.home-nav {
                    position: relative;
                    .title-md { //material design only
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
        ion-header ion-icon.back-button-icon.icon {
            color: #21c48a
        }
        .toolbar-title-md{
            color: #000000 !important 
        }
        .tagT{
            font-size: 1.3em;
            margin: 0.5em;
            margin-top: 0.3em;
            margin-bottom: 0.3em;
        }
        .checkoutI{
            border-bottom: 1px solid #ccc;

        }
        .deliveryT{
            font-size: 1.1em !important;
            /* height: 1.3em; */
            border: 1px solid #21c48a;
            text-align: center;
            padding: 0.1em;
            font-weight: bold;
            color: #21c48a;
            border-radius: 0.3em;
            background-color: white;
        }
        #directionT{
            font-size: 1.1em;
            text-align: right;
            margin-top: 0.7em;
            overflow: hidden;
     white-space: nowrap;

        }
        .cashT{
            color: #21c48a;
        }
        .proC{
            text-align: center;
        }
        .proC p{
            text-align: center;
            font-size: 1.2em;
            margin: 0.4em;
        }
        .propineC{
            padding: 0.2em;
            border: solid 1px #ccc;
            border-radius: 0.3em;
        }
        ion-footer{
            background-color: #FFFFFF;
            font-family: 'Proxima Nova' !important;
            font-size: 1.2em;
        }
        .buttonT{
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            font-weight: bold;
        }
        #mainB{
            background-color: #21c48a;
            color: #FFFFFF;
            box-shadow: #ccc 0px 1px;
            border-radius: 0.2em;
        }
        .backgroundM{
            background-color: #f7f7f7;
            height: auto;
        }
        .itemF{
            padding-top: 0.1em;
            padding-bottom: 0.1em;
        }
        .tagTi{
            color: #ccc;
        }
        .footer-md::before{
            top: 0px; 
            bottom: no; 
            background-position: left 0 top 0; 
            height: 0px;
        }
}
