page-welcome {
    h2,h1{
        font-family: 'Trueno' !important;
    }

    .logo{
        margin: auto;
        width: 60%;
        padding: 10px;
        display: block;
        margin-top: 30%
    }
    .subheading{
        color: #FFFFFF;
        margin: auto;
        width: 50%;
        padding: 10px;
        display: block;
        text-align: right
    }
    .button{
        color: #FFFFFF;
        margin: auto;
        width: 80%;
        padding: 10px;
        display: block;
    }

    .button-md, .button-ios{
        background-color: #00a083;
        bottom: 2em;
        margin: 0 1.5em;
        position: absolute
    }
    .disclamer{
        color: #ffffff;
        font-size: 0.75em;
        width: 90%;
        text-align: center;
        margin: auto;
        bottom: 7em;
        position: absolute;
    }
    .headerI{
        background: url('../assets/img/header.png')!important;
       background-size:cover !important;
       -webkit-background-image: url('../assets/img/header.png')!important;
       background-position: center !important;       
       height: 75vw !important;;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios , 
    .header-md .toolbar-background-md, .footer-md .toolbar-background-md{
        border-style: none;
        border-color: #FFFFFF;
    }
    .toolbar-background-ios, .toolbar-background-md{
        background: none;
    }
    .formG{
        text-align: center
    }
    .buttonA{
        bottom: 0px !important;
        margin: 0px auto !important;
        position: relative !important;
        width: 95% !important;
    }
    .marB{
        margin-bottom: 1.5em !important;
    }
    .marT{
        margin-top: 1.5em !important;
    }
    .withoutB .item-inner{
        border-bottom: none !important;

    }
    .questionC{
        text-align: center;
        width: 100%;
    }
    .continueWT{
        color: #00a083;
        text-decoration: underline;        
    }
    .initS{
        bottom: 0px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)
    }
    .footer-md::before{
        background-image: none;
    }
}
