page-directions-manager {
    ion-header{
        z-index: inherit;  // desapear the header shadown
        text-align: center;
    }
    .toolbar-title-md{
        color: $green;
    }
    .toolbar{
        text-align: center;
    }
    .button{
        width: 80%;
    }
}
